<web-app xmlns="__NS__" version="__VER__">
  <servlet><servlet-name>v</servlet-name><servlet-class>spikeweb.VerifyServlet</servlet-class></servlet>
  <servlet-mapping><servlet-name>v</servlet-name><url-pattern>/verify</url-pattern></servlet-mapping>
</web-app>
