<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         failOnWarning="true"
         failOnNotice="true"
         failOnDeprecation="true"
         failOnRisky="true"
         failOnEmptyTestSuite="true">
  <testsuites>
    <testsuite name="conformance">
      <file>tests/ConformanceCasesTest.php</file>
    </testsuite>
    <testsuite name="native">
      <directory>tests</directory>
      <exclude>tests/ConformanceCasesTest.php</exclude>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
